body{
  background-color: #ebebebf2;
}

h1{background-color: #7ba9e4;
padding: 15px;
justify-content: flex-start;
align-items: flex-start;
color: #ffffff;
text-shadow: 2px 2px 4px #000000;
position: relative;
border: 1px solid #629fee96;
}

li{
  padding: 15px;
}


/*메모 저장 후 리스트의 양식*/


/*메모기록장 항목칸*/
.memo-container {
  width: 100%;
    height: 100%;
        background: #ffb15125;
        display: flex;
        justify-content: space-around;
        align-items: center;
        float: right;
        
        
  }
 
/*내용입력 칸*/
  .memo-input {
    padding: 5%;
    width: 700px;
    height:  600px;
    margin-bottom: 10px;
    justify-content: flex-start;
   
   
  }
  
  .memo-list {
    list-style:none;
    margin-right: auto;
    float: left;
  }

  
/*내용 입력 후 나오는 바... 다른 요소와 안겹치게 해준다*/
  .memo-item {
    
    width: 700px;
    height: auto;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 2px;
    word-break:break-all;
    border: 1px solid rgba(0, 0, 0, 0.415);
  }

  .memo-item .memo-content {
    flex-grow: 1;
    margin-right:auto;  
  }

  .memo-item .memo-actions {
    display: flex;
    gap: 10px;
    
  }

  .memo-item .delete-button {
    text-align: right;
    color: red;
    cursor: pointer;
  }

